.max-width {
    max-width: 250px;
}

.mat-button {
    width: 100%;
    text-align: left;

    &[disabled] {
        color: #333;
        background-color: #eeeeee;
    }
}

.review-increments-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}