<div class="container">
  <div class="no-print my-4">
    <button mat-stroked-button (click)="goBack()">
      Volver
    </button>
  </div>
  <div class="clearfix">
    <img src="/assets/img/logo-presupuesto.png" style="width: 14cm;" />
    <div id="datos-empresa">
      <p>
        <br />
        Nidara Online, S.L.<br />
        NIF: B12938577<br />
        P.I. Acceso Sur - C/ Francia 10<br />
        12006 Castellón<br />
        info@sabanasblancas.es<br />
        601 32 83 06
      </p>
    </div>
  </div>
  
  <!-- Título -->
  <h2>Presupuesto nº {{quote.id}}</h2>
  <h6>{{quote.date | date}}</h6>

  <div class="row mt-4">
    <!-- Cliente -->
    <div id="datos-cliente" class="offset-1 col-6">
      <div class="d-flex">
          <div class="field-description">Nombre:</div>
          <div><strong>{{quote.client.name}}</strong></div>
      </div>
      <div class="d-flex">
          <div class="field-description">Empresa:</div>
          <div><strong>{{quote.client.company}}</strong></div>
      </div>
      <div class="d-flex">
          <div class="field-description">Teléfono:</div>
          <div>{{quote.client.phone}}</div>
      </div>
      <div class="d-flex">
          <div class="field-description">Email:</div>
          <div>{{quote.client.email}}</div>
      </div>
    </div>
  </div>


  <!-- Contenido del presupuesto -->
  <div id="lineas" class="row mt-4">
    <table class="table table-bordered table-condensed">
      <tr>
        <th style="width: 33.333333%">Modelo</th>
        <th style="width: 8.333333%">Color</th>
        <th style="width: 16.666667%">Talla</th>
        <th style="width: 16.666667%">Comentario</th>
        <th style="width: 8.333333%">Cantidad</th>
        <th style="width: 8.333333%">Precio ({{getTaxesLabel()}})</th>
        <th style="width: 8.333333%">Total</th>
      </tr>
      <tr *ngFor="let line of quote.lines">
        <td style="width: 33.333333%">{{line.productName}}</td>
        <td style="width: 8.333333%">{{line.productColor}}</td>
        <td style="width: 16.666667%">{{line.productSize}}</td>
        <td style="width: 16.666667%">{{line.productComments}}</td>
        <td style="width: 8.333333%" class="text-right">{{line.quantity}}</td>
        <td style="width: 8.333333%" class="text-right">{{line.productPrice | number:'1.2-2'}}</td>
        <td style="width: 8.333333%" class="text-right">{{line.total | number:'1.2-2'}}</td>
      </tr>
    </table>
  </div>

  <div id="totales" class="row">
    <div class="offset-8 col-4">
      <table class="table">
        <tr>
          <td>Base imponible</td>
          <td class="text-right">{{quote.getTotalWithoutTaxes() | number:'1.2-2'}} €</td>
        </tr>
        <tr>
          <td>IVA 21%</td>
          <td class="text-right">{{quote.getTotalTaxes() | number:'1.2-2'}} €</td>
        </tr>
        <tr>
          <td><strong>Importe total</strong></td>
          <td class="text-right"><strong>{{quote.getTotalWithTaxes() | number:'1.2-2'}} €</strong></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <!-- Condiciones -->
    <div id="condiciones" class="col-6 pt-3">
      <div class="d-flex">
          <div class="field-description"><h6>Condiciones</h6></div>
      </div>
      <div *ngIf="quote.comments" class="d-flex">
        <div class="field-description">Comentarios:</div>
        <div>{{quote.comments}}</div>
    </div>
      <div class="d-flex">
          <div class="field-description">Plazo de entrega:</div>
          <div>{{quote.deliveryTime}}</div>
      </div>
      <div class="d-flex">
          <div class="field-description">Transporte:</div>
          <div>Incluído en península y Baleares</div>
      </div>
      <div class="d-flex">
          <div class="field-description">Validez:</div>
          <div>30 días</div>
      </div>
      <div class="d-flex">
        <div class="field-description">Forma de pago:</div>
        <div>Transferencia bancaria<br />
          <strong>
            Banco Sabadell<br />
            Titular: Nidara Online, S.L.<br />
            IBAN: ES75 0081 1232 5200 0106 0909
          </strong>
        </div>
      </div>
    </div>
  </div>

</div>