@page {
    size: A4;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

body {
    font-size: 12px;
}

#datos-cliente {
    font-size: 15px;
}
#datos-empresa {
    float: right;
    text-align: right;
}

.field-description {
    width: 25%;
    text-align: right;
    margin-right: 10px;
}

th, td {
    border: 1px solid #333 !important;
    padding: 8px 10px;
}
th {
    font-size: 90%;
}

#totales > div {
    padding-left: 0;
    padding-right: 0;
}

#condiciones {
    font-size: 12px;
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 30px;
}

#pie-pagina {
    font-size: 12px;
    width: 100%;
}
