.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    min-width: 700px;
    table-layout: fixed;

    .mat-column-reference {
        width: 150px;
        padding-left: 12px;
        @media(min-width:768px){
            width: 100%;
        }
    }

    .mat-column-name {
        width: 100%;
    }

    .mat-column-color,
    .mat-column-price {
        width: 50%;
    }

    .mat-column-size {
        width: 75%;
    }

    .mat-column-stock {
        width: 240px;
    }
}