<div class="h-100 px-md-3 px-1 py-3">
  <div class="d-flex">
    <button mat-stroked-button [routerLink]="['../']">Volver</button>
    <span *ngIf="products && products.length" class="ml-auto">
      <button mat-stroked-button (click)="clear()">Deshacer</button>
      <button mat-flat-button color="accent" (click)="openConfirmationDialog()" class="ml-3">Guardar</button>
    </span>
  </div>

  <table *ngIf="products && products.length; else emptyMessage" mat-table [dataSource]="products" class="mat-elevation-z8 mt-3 mb-4">

    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef> Referencia </th>
      <td mat-cell *matCellDef="let product"> {{product.reference}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Color </th>
      <td mat-cell *matCellDef="let product" class="text-center"> {{product.color}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Talla </th>
      <td mat-cell *matCellDef="let product" class="text-center"> {{product.size}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="text-right"> PVP </th>
      <td mat-cell *matCellDef="let product" class="text-right"> {{product.price|number:'1.2-2'}} €</td>
    </ng-container>

    <ng-container matColumnDef="currentStock">
      <th mat-header-cell *matHeaderCellDef class="text-center">Stock</th>
      <td mat-cell *matCellDef="let product" class="text-right pr-0" style="max-width: 200px;">
        <app-stock-table-variation [currentValue]="product.currentStock" 
          [variation]="increments.get(product.idStock)" 
          (variationChange)="increments.set(product.idStock, $event)"></app-stock-table-variation>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<ng-template #emptyMessage>
  <div class="mt-5">No hay cambios de stock</div>
</ng-template>

