<div class="h-100 d-flex flex-column" style="overflow-x: hidden;">

    <mat-toolbar color="primary" class="mat-elevation-z4 no-print">
        <span class="d-none d-md-inline mr-5">Gestión SábanasBlancas.es</span>
        <span class="d-inline d-md-none mr-3">Gestión SB</span>
        <button *ngIf="showStock" mat-button routerLink="/stock" routerLinkActive="active">
            <mat-icon>crop_portrait</mat-icon><span class="d-none d-md-inline">Productos</span>
        </button>
        <button *ngIf="showStock" mat-button routerLink="/stock/movimientos" routerLinkActive="active">
            <mat-icon>swap_horiz</mat-icon><span class="d-none d-md-inline">Movimientos</span>
        </button>
        <button *ngIf="showQuotes" mat-button routerLink="/presupuestos" routerLinkActive="active">
            <mat-icon>list_alt</mat-icon><span class="d-none d-md-inline">Presupuestos</span>
        </button>
        <button *ngIf="isLoggedIn" mat-icon-button class="ml-auto" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="section-container">
        <div *ngIf="spinner$ | async" class="spinner-background">
            <mat-spinner class="spinner"></mat-spinner>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

