.mat-toolbar {
    z-index: 2;
    flex-shrink: 0;
}
.mat-button .mat-icon {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.section-container {
    flex-grow: 1 !important;
    overflow-y: auto;
    max-height: 100%;
}

.spinner-background {
    position: absolute;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, .15);
    width: 100%;
    height: calc(100% - 65px);
    text-align: center;
    vertical-align: middle;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}