.row-editable {
    cursor: pointer;
}
.row-accepted {
    cursor: pointer;
    background-color: aquamarine;
}
.row-rejected {
    cursor: pointer;
    background-color: lightgray;
}
.row-sent {
    cursor: pointer;
    background-color: lightyellow;
}