<div class="row">
  <div class="col-md-10">
    <h2 class="">Presupuesto {{(quote$|async)?.id}}</h2>
  </div>
  <div class="col-md-2 text-right">
    <button mat-stroked-button (click)="goBack()" class="mr-3">Volver</button>
    <button mat-flat-button color="accent" (click)="save()" class="">Guardar</button>
  </div>
</div>

<form [formGroup]="quoteForm">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="date">
  <input type="hidden" formControlName="state">

  <div class="row">
    <div class="col-md-6" formGroupName="client">
      <input type="hidden" formControlName="id">
      <mat-card class="bg-light">
        <mat-card-title>Datos del cliente</mat-card-title>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Empresa</mat-label>
              <input matInput type="text" formControlName="company">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Teléfono</mat-label>
              <input matInput type="text" formControlName="phone">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field>
                  <mat-label>Dirección</mat-label>
                  <input matInput type="text" formControlName="address" placeholder="(Opcional)">
                </mat-form-field>
            </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="bg-light h-100">
        <mat-card-title>Condiciones</mat-card-title>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>IVA</mat-label>
              <input matInput type="text" formControlName="taxes">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Tiempo de entrega</mat-label>
              <input matInput type="text" formControlName="deliveryTime">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Notas</mat-label>
              <input matInput type="text" formControlName="comments" placeholder="Información adicional...">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <mat-card class="budget-lines my-4">

    <div class="table-container">

      <!-- Títulos -->
      <div class="row bg-light py-3">
        <div class="col-3">
          <mat-label class="h6">Artículo</mat-label>
        </div>
        <div class="col-2">
          <mat-label class="h6">Color</mat-label>
        </div>
        <div class="col-2">
          <mat-label class="h6">Talla</mat-label>
        </div>
        <div class="col-2">
          <mat-label class="h6">Notas</mat-label>
        </div>
        <div class="col-1">
          <mat-label class="h6">Cantidad</mat-label>
        </div>
        <div class="col-1">
          <mat-label class="h6">Precio</mat-label>
        </div>
        <div class="col-1">
          <mat-label class="h6">Total</mat-label>
        </div>
      </div>

      <div *ngFor="let line of lines; index as i" class="d-flex flex-row-reverse position-relative">

        <div class="position-absolute" style="top:6px;">
          <button mat-icon-button (click)="removeLine(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="flex-grow-1 mr-5">
          <app-quote-edit-line [(quoteLine)]="line" [sortedProducts]="products"></app-quote-edit-line>
        </div>
        
      </div>

      <div class="pt-3 pr-5">
        
        <div class="row">
          <div class="col-10">
            <button mat-flat-button color="primary" (click)="addLine()">Añadir línea</button>
          </div>
          <div class="col-2">
            <mat-form-field>
              <input matInput type="text" value="{{getTotal()|number:'1.2-2'}} €" class="text-right font-100 font-weight-bold" readonly="readonly">
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

  </mat-card>
  
</form>


