:host {
    display: block;
    padding: 1rem 15px;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: auto;
}

.inline-back-button {
    position: relative;
    top: -6px;
}    

.mat-form-field {
    font-size: 90%;
    width: 100%;
}

.quote-lines {
    padding-top: 0;
    overflow-x: auto;

    .mat-form-field-wrapper {
        padding-bottom: 0.75em;
    }
    .table-container {
        min-width: 800px;
    }
}