html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

table {
    width: 100%;
    
    .mat-row:hover {
        background-color: #eeeeee;
    }
}

.mat-option {
    height: 30px !important;
}
.mat-option-text {
    font-size: .8rem !important;
}

.font-080 {
    font-size: .8rem !important;
}
.font-100 {
    font-size: 1rem !important;
}
.clickable {
    cursor: pointer;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .section-container {
        overflow-y: visible !important;
        max-height: unset !important;
    }
}

.stock-variation-buttons.mat-button-toggle-group {
    border-width: 0 !important;
    vertical-align: middle;
    .mat-button-toggle-label-content {
        line-height: 45px;
        padding: 0 !important;
        width: 32px;
    }
}

// Problema celdas sticky sin borde en Firefox
@-moz-document url-prefix() {
    .mat-table-sticky:after {
        content:'';
        position:absolute;
        left: 0;
        bottom: -1px;
        width:100%;
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
}